*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    font-family:Arial,sans-serif;
    padding-top:80px;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
    position:sticky;
    top:0;
    z-index:1000;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    padding:8px 15px;
    border-radius:8px;
}

.nav-links a:hover{
    background:#e50914;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

