/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */

body{
    background:#0f172a;
    font-family:Arial, sans-serif;
}

/* NAVBAR */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 80px;

    background:#111827;
}

.logo{

    color:white;

    font-size:28px;

    font-weight:bold;
}

.nav-links{

    display:flex;

    list-style:none;

    gap:30px;
}

.nav-links a{

    color:white;

    text-decoration:none;

    transition:0.3s;
}

.nav-links a:hover{

    color:#e50914;
}/* HERO SECTION */

.hero{

    height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    background:
    linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.7)
    ),
    url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba");

    background-size:cover;

    background-position:center;
}

.hero-content{

    max-width:700px;

    color:white;
}

.hero-content h1{

    font-size:60px;

    margin-bottom:20px;
}

.hero-content p{

    font-size:20px;

    color:#d1d5db;

    margin-bottom:30px;
}

.btn{

    display:inline-block;

    padding:15px 35px;

    background:#e50914;

    color:white;

    text-decoration:none;

    border-radius:8px;

    font-weight:bold;

    transition:0.3s;
}

.btn:hover{

    background:#ff1f2d;

    transform:translateY(-3px);
}